/* You can add global styles to this file, and also import other style files */

.btn-primary {
    color: #fff;
    background-color: #16770f !important;
    border-color: #16770f !important;
}

.panel-heading {
    font-size: 1.5rem !important;
}

.panel-primary>.panel-heading {
    background-color: #53afbd !important;
    border-color: #53afbd !important;
}

.panel-primary {
    border-color: #53afbd !important;
}

.navbar-nav {
    flex-direction: row !important;
}